body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.header-section {
  background-color: #ffffff;
}

.logo span {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-list a {
  color: #2e2f42;
}

.header-list a:focus,
.header-list a:hover {
  color: #404bbf;
}

.header-address {
  color: #434455;
  font-style: normal;
}
.mailto-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address a:focus,
.header-address a:hover {
  color: #404bbf;
}
.main-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.main-section {
  background-color: #2e2f42;
}
.main-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
}
.main-button:focus,
.main-button:hover {
  background-color: #404bbf;
}
.benefits h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-section {
  background-color: #f4f4fd;
}
.team-names h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-names p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.li-team {
  background-color: #ffffff;
}
.portfolio {
  background-color: #e7e9fc;
}
.p-team {
  font-size: 16px;
}
.portfolio h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.footer-section {
  background-color: #2e2f42;
}
.footer-section p {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}
.name-studio {
  color: #f4f4fd;
}
